*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: "Inter", sans-serif;
}

:root {
    --primary: #e8e8e8;
    --grayish: #3d3c38;
    --blueish: #6bc2e4;
}
html body {
    height: 100%;
    width: 100%;
}
body {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
}
header button {
    background-color: var(--primary);
}
main {
    display: flex;
    flex-direction: column;
    max-width: 400px;

    width: 100%;
    height: 90%;
    border-radius: 15px;
    background-color: var(--primary);
}
button {
    border: 0px;
    border-radius: 0px;
}
.thickfont {
    font-weight: bold;
}

.bandbild {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}

.bandbild img {
    aspect-ratio: 1/1;
    width: 70%;
    border-radius: 50%;
    border-radius: 50%;
    background: #e0e0e0;
    box-shadow: -6px 6px 12px #505050, 6px -6px 12px #ffffff;
}

#power {
    display: flex;
    padding: 15px;
    color: var(--grayish);
    font-size: x-large;
    color: red;
    border-radius: 37px;
    background: #e0e0e0;
    box-shadow: inset 25px 25px 27px #d0d0d0, inset -25px -25px 27px #f0f0f0;
}

#lupe {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    padding: 15px;
    color: var(--grayish);

    border-radius: 37px;
    background: #e0e0e0;
    box-shadow: inset 25px 25px 27px #d0d0d0, inset -25px -25px 27px #f0f0f0;
}
#back {
    position: absolute;
    bottom: 12vh;
    left: 6vw;
    padding: 25px;
    color: var(--grayish);
    font-size: xx-large;
}
#forward {
    position: absolute;
    bottom: 12vh;
    right: 6vw;
    padding: 25px;
    color: var(--grayish);
    font-size: xx-large;
}
#play {
    position: absolute;
    bottom: 12vh;
    right: 41%;
    padding: 25px;
    color: var(--grayish);
    font-size: xx-large;
    color: var(--blueish);
}

#head {
    position: absolute;
    top: 3vh;
    left: 20vw;
    padding: 25px;
}
#songname {
    margin-bottom: 40px;
}
#artist {
    padding: 0.5rem;
}
.progress-bar {
    height: 0.5rem;
    width: 100%;
    background-color: white;
    border-radius: 0.5rem;
}
.lupe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
#lupe {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    padding: 15px;
    color: var(--grayish);
    font-size: x-large;
    background-color: rgb(247, 246, 246);
    box-shadow: inset 20px 20px 40px rgb(194, 194, 194),
        30px 30px 44px rgb(217, 217, 217), 40px 40px 42px rgb(231, 231, 231);
    border-radius: 10px;
}

.controles {
    padding: 0.4rem;
    display: flex;
    justify-content: space-between;
}
footer {
    padding: 0 8rem;
}
.footer-bar {
    height: 0.25rem;
    width: 100%;
    border-radius: 0.25rem;
    background-color: black;
}
section {
    display: flex;
    justify-content: center;
}
section div {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    background-color: var(--primary);
}
article {
    display: flex;
    justify-content: center;
    padding: 2rem;
}
article div {
    display: flex;
    flex-direction: column;
}
.songname {
    display: flex;
    justify-content: center;
    justify-items: center;
}
#songname {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: center;
    color: var(--grayish);
}
#grad1 {
    width: 75%;
    position: relative;
    top: auto;
    left: 12.5%;
    height: 10px;
    background: linear-gradient(
        0.25turn,
        #a2c7ff 10%,
        #3284ff 25% 35%,
        #37d7ff 60%,
        #88e7ff 69%,
        white 69% 100%
    );
    border-radius: 80px;
    background-origin: border-box;
    background-clip: content-box, border-box;
    border: solid 1px rgb(198, 198, 198);
}
button {
    width: 45%;
    position: relative;
    top: auto;
    left: 28.5%;
    height: 8px;
    border-radius: 80px;
    background-origin: border-box;
    background-clip: content-box, border-box;

    background: #e0e0e0;
    box-shadow: inset -18px 18px 47px #5a5a5a, inset 18px -18px 47px #ffffff;
}
